# API key y variables privadas
.env

# Entorno virtual de Python
.venv/
venv/

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuración de editores
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db